/*apply*/
*{
    margin: 0;
}

html,
body{
    height: 100%;
}

p{
    margin: 0.5em 0 0.5em 0;
}

header{
    display:block;
    -position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    padding: .2rem;
   
}

.authentication{
    float: right;
    padding: 1px 2px;
}

main{
    display:block; /* takes up entire width*/
    margin: 0 0 0 0;
    padding-top: 3em;
    padding-bottom: 3em;
}
p{
    margin: 0.5em 0 0.5em 0;
}
@media only screen and (min-width:768px){
    main{
        display:flex;
    }
    
    aside{
        margin-left: 2%;
    }

    .columns-desktop{
        display: flex;
    }
}*/

table>tr img {
    margin:2 px ;
}
label{
    display: block;
    font-weight: bold;
    padding: 2px;
}

form>p {
    padding: 10px;
}

input{
    border-top:rgb(156, 75, 75) ;
    padding: 2px;
    height: 20px;

}

input[type="submit"]{
    border-radius: 6px;
    color:rgb(95, 50, 116);
    font-weight: bold;
    background-color:ghostwhite;
    padding:4px ;
}

/*about*/
a:link, /* pseudo class*/
a:visited{
    text-decoration: none;
   
}

input[type="email"],
input[type="phone"],
textarea {
    border-radius: 6px;
}

input:valid{
    border: none;
}

input:invalid{
    border-color: red;
}

input:focus:invalid{
    border-color: yellow;
}

input:required,
textarea:required{
    border-style: dashed   ;
}

fieldset {
    border-color: hsl(hue, saturation, lightness);
    border-width: 3px;
    border-style: solid;
}

fieldset > legend{
    color: grey;
}

