/*apply*/
*{
    margin: 0;
}

html,
body{
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: ghostwhite;
}

p{
    margin: 0.5em 0 0.5em 0;
}

header{
    display:block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: gray;
    padding: 10px;
   
}

main{
    display:block; /* takes up entire width*/
    margin: 0.5em 0 0.5em 0.5em;
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
}
p{
    margin: 0.5em 0 0.5em 0;
}
@media only screen and (min-width:768px){
    main{
        display:flex;
    }
    
    aside{
        margin-left: 2%;
    }

    .columns-desktop{
        display: flex;
    }
}

label{
    display: block;
}

input{
    border-top:maroon ;
}

input[type="submit"]{
    border-radius: 6px;
}

/*about*/
a:link,
a:visited{
    text-decoration: none;
   
}

.info{
    width: 80%;
    background-color: rgb(182, 176, 176);
}

.info p{
    padding: 0.5em;
    
}

input[type="email"],
input[type="phone"],
textarea {
    border-radius: 6px;
}

input:valid{
    border-color: green;
}

input:invalid{
    border-color: red;
}

input:focus:invalid{
    border-color: yellow;
}

input:required,
textarea:required{
    border-style: dashed   ;
}
